/*----------------------------------------------------
                                        application
----------------------------------------------------*/
.modal-content{
    max-height:550px;
    overflow-y: scroll;
}
#appForm{
    padding:20px 20px 0 20px;
}

#appForm .modal-dialog{
    padding:10px 10px 10px 0;
    color:#666;
}

#appForm .error{
    font-size:smaller;
    color:#af0011;
}

#appForm input, #appForm select{
    background:white;
}
#appForm input:focus, #appForm select:focus{
    border-color: #af0011;
}

@media (max-width: 767px) {
    .modal-content{
        max-height:300px;
        overflow-y: auto;
    }
}

/*----------------------------------------------------
                                        End application
----------------------------------------------------*/