/*----------------------------------------------------
                                        application
----------------------------------------------------*/
#application{
    background:#666;
    margin-top: 70px;
    color:#999;
    padding:80px 20px 0px 20px;
}

#application .error{
    color:#af0011;
}

#application input, #application select{
    background:black;
    color:white;
}
#application input:focus, #application select:focus{
    border-color: #af0011;
}

/*----------------------------------------------------
                                        End application
----------------------------------------------------*/