#careers{
    margin-top:70px;
    background:#666;
}

#careers a{
    color: white;
    background:#af0011;
    padding-left:40px;
    padding-right:40px;

}

#careers a:hover{
    color:black;
}

#careers a:focus, #careers a:active{
    border-color: #af0011;
    box-shadow: none;
}