#careers{
    margin-top:70px;
    background:#666;
}

#careers a{
    background:black;
    color:white;
}

#careers a:hover{
    color:#cb0000;
}

#careers a:focus, #careers a:active{
    border-color: #cb0000;
    box-shadow: none;
}